.nav-item {
  color: #525f7f;
  margin: 0px 20px;
}

.navbar {
  position: absolute;
  background-color: transparent;
  align-items: center;
}

.title {
  text-align: center;
}

.expand {
  clear: both;
  width: 100%;
  text-align: center;
}
