.file-upload {
  background-color: rgb(255, 210, 0) !important;
  .card-category {
    color: black;
  }
}

.element-center {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.inspections {
  min-height: 395px;
}
