<div class="content">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Inspection Dates</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive inspections">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Chassis Number</th>
                  <th>Last Inspection Date</th>
                  <th>Next inspection Date</th>
                  <th class="text-center">Remaining Days</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicles">
                  <td>{{ vehicle.chassisNumber }}</td>
                  <td>
                    {{
                      formatDate(vehicle.inspection.latestInspectionDate, " / ")
                    }}
                  </td>
                  <td>
                    {{
                      formatDate(vehicle.inspection.nextInspectionDate, " / ")
                    }}
                  </td>
                  <td class="text-center">
                    {{ remainingDays(vehicle.inspection.nextInspectionDate) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Vehicle</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bus-front-12 text-success"> </i>
            {{ totalNewVehicle }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
      <div class="card file-upload">
        <div class="card-header">
          <h5 class="card-category">Vehicle Inspection File Parser</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="vehicleFileForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-6 element-center">
                <input
                  type="file"
                  class="form-control-file"
                  formControlName="reportFile"
                  id="reportFile"
                  (change)="onFileChange($event)"
                />
              </div>
              <div class="col-sm-6 element-center">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Vehicle Inspection Parser</h5>
              <h2 class="card-title" *ngIf="updateLog.length">Result</h2>
            </div>
          </div>
        </div>
        <div class="card-body result-body">
          <div class="chart-area">
            <h3 *ngIf="!updateLog.length">
              Result will be shown here after submiting the vehicle inspection
              file
            </h3>
            <h4 *ngIf="updateLog.length">
              <strong>{{ addedVehicle }}</strong> vehicle has been added and
              <strong>{{ updatedVehicle }}</strong> has been updated
            </h4>
            <div class="table-responsive" *ngIf="updateLog.length">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">Identity Number</th>
                    <th class="text-center">Chassis Number</th>
                    <th class="text-center">Model</th>
                    <th class="text-center">Type approval no</th>
                    <th class="text-center">First registration</th>
                    <th class="text-center">Privately imported</th>
                    <th class="text-center">Date of deregistration</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Latest inspection date</th>
                    <th class="text-center">Next inspection date</th>
                    <th class="text-center">Latest registration</th>
                    <th class="text-center">Monthly registration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let entery of updateLog"
                    [class.green]="entery.isNew"
                    [class.red]="entery.diff.length"
                  >
                    <td class="text-center">{{ entery.data.identity }}</td>
                    <td class="text-center">{{ entery.data.chassisNumber }}</td>
                    <td class="text-center">{{ entery.data.modelYear }}</td>
                    <td class="text-center">
                      {{ entery.data.typeApprovalNo }}
                    </td>
                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.registration.firstRegistration,
                          "/"
                        )
                      }}
                    </td>
                    <td class="text-center">
                      {{ entery.data.privatelyImported }}
                    </td>
                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.registration.dateOfDeregistration,
                          "/"
                        )
                      }}
                    </td>
                    <td class="text-center">{{ entery.data.color }}</td>

                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.inspection.latestInspectionDate,
                          "/"
                        )
                      }}
                    </td>
                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.inspection.nextInspectionDate,
                          "/"
                        )
                      }}
                    </td>
                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.registration.latestRegistration,
                          "/"
                        )
                      }}
                    </td>
                    <td class="text-center">
                      {{
                        formatDate(
                          entery.data.registration.monthlyRegistration,
                          "/"
                        )
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
