<div class="content">
  <div class="row">
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Inspection Dates</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive inspections">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Chassis Number</th>
                  <th>Last Inspection Date</th>
                  <th>Next inspection Date</th>
                  <th class="text-center">Remaining Days</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>JTEGG32M500015704</td>
                  <td>20170103</td>
                  <td>20181031</td>
                  <td class="text-center">3 Days</td>
                </tr>
                <tr>
                  <td>JTEGG32M500015704</td>
                  <td>20170103</td>
                  <td>20181031</td>
                  <td class="text-center">3 Days</td>
                </tr>
                <tr>
                  <td>JTEGG32M500015704</td>
                  <td>20170103</td>
                  <td>20181031</td>
                  <td class="text-center">3 Days</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Total Vehicle</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bus-front-12 text-success"> </i>
            763,215
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
      <div class="card file-upload">
        <div class="card-header">
          <h5 class="card-category">Vehicle Inspection File Parser</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-sm-6 element-center">
                <input type="file" class="form-control-file" id="reportFile" />
              </div>
              <div class="col-sm-6 element-center">
                <button type="button" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Vehicle Inspection Parser</h5>
              <h2 class="card-title">Result</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">Identity Number</th>
                    <th class="text-center">Chassis Number</th>
                    <th class="text-center">Model</th>
                    <th class="text-center">Type approval no</th>
                    <th class="text-center">First registration</th>
                    <th class="text-center">Privately imported</th>
                    <th class="text-center">Date of deregistration</th>
                    <th class="text-center">Color</th>
                    <th class="text-center">Latest inspection date</th>
                    <th class="text-center">Next inspection date</th>
                    <th class="text-center">Latest registration</th>
                    <th class="text-center">Monthly registration</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">TN14780</td>
                    <td class="text-center">JTEGG32M500015704</td>
                    <td class="text-center">2004</td>
                    <td class="text-center">52750082004</td>
                    <td class="text-center">20090127</td>
                    <td class="text-center">1</td>
                    <td class="text-center">00000000</td>
                    <td class="text-center">SVART</td>
                    <td class="text-center">20170103</td>
                    <td class="text-center">20181031</td>
                    <td class="text-center">20130628</td>
                    <td class="text-center">1206</td>
                  </tr>
                  <tr>
                    <td class="text-center">TN14780</td>
                    <td class="text-center">JTEGG32M500015704</td>
                    <td class="text-center">2004</td>
                    <td class="text-center">52750082004</td>
                    <td class="text-center">20090127</td>
                    <td class="text-center">1</td>
                    <td class="text-center">00000000</td>
                    <td class="text-center">SVART</td>
                    <td class="text-center">20170103</td>
                    <td class="text-center">20181031</td>
                    <td class="text-center">20130628</td>
                    <td class="text-center">1206</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
